@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";
@plugin "@tailwindcss/typography";

html {
  transition: font-size 0.2s ease;
}

@variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Open Sans", sans-serif;
  
  --animate-fade-in: fade-in 0.3s ease-out;
  --animate-fade-out: fade-out 0.2s ease-in;

  @keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  @keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
  }
}