@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";

html {
  transition: font-size 0.2s ease;
}

@variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Open Sans", sans-serif;
}